
        {{>header user=user}}

        {{>verticalnav}}

        <div class="hk-pg-wrapper">
            <div class="container-xxl">

                <div class="alert alert-success" role="alert">
                    <p>ID: {{user.id}}</p>
                    <p>Full Name: {{user.fullname}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>AccessToken: {{user.token}}</p>
                    <p>RefreshToken: {{user.refreshToken}}</p>
                </div>

            </div>
        </div>
   
    </div>


    {{>footer}}

   