{{>header user=user farmersList=farmersList}}
{{>verticalnav user=user farmersList=farmersList}}



<h1 class="text-center">Farmers in Cluster: {{clusterName}}</h1>
<p class="text-center">{{message}}</p>

{{#if success}}
<h3>Total Farmers: {{totalFarmers}}</h3>
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Farmer Name</th>
            <th>Mobile Number</th>
            <th>Village</th>
            <th>Taluka</th>
            <th>Cultivated Land</th>
            <th>Type of Land</th>
            <th>Irrigation Source</th>
            <th>Crops Sown</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.mobileNumber}}</td>
            <td>{{this.villageName}}</td>
            <td>{{this.taluka}}</td>
            <td>{{this.cultivatedLand}}</td>
            <td>{{this.typeOfLand}}</td>
            <td>{{this.irrigationSource}}</td>
            <td>
                {{this.cropsSown}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="alert alert-danger mt-4">No data available.</div>
{{/if}}

{{>footer}}